.body{
    background: url("https://cdn.wallpaperhub.app/cloudcache/e/5/e/b/9/5/e5eb95e14dd0f2878b1df84b5595faeb539d3cbc.jpg");
    background-size: 100%;
    background-position: center;
}
.container{
    width: 500px;
    height: 300px;
    margin: 200px auto;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.btn {
    margin-top: calc(50% + 25px);
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    font-size:17px;
    letter-spacing: 0.045em;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
  background: rgb(255,130,130);
  background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}
.container2{



    height:100%;
   position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
.container3{



    height:100%;
   position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  html,
  css {
    width: 100%;
    height: 100%;
  }
  
  .position {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15%;
  }
  
  #workarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1e1a3e;
    font-family: Raleway;
  }
  
  #personal {
    color:white;
    text-decoration:none;
    position:absolute;
    bottom:15px;
    right:2%;
  }
  /*    start code for the actual button:         */
  
  
  /*   
      Spot is the span on the inside of the href that
      fills the parent and makes the hover and link work
      for the entire div
  */
  
  .spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  /*
      This is the outer svg wrapper that the SVG itself will 
      fill. Multiple svg-wrapper classes can be put side by side.
  */
  
  .svg-wrapper {
    margin-top: 30px;
    padding-left: 170px;
    position: relative;
    width: 150px;
    /*make sure to use same height/width as in the html*/
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
  }
  /*
    This is where we define the fill, color, thickness,
    and stroke pattern of the SVG when there is no hover.
    The dasharray and offset together define the line position
    under the words. Here's also where the transition speed is set.
  */
  
  #shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #1bfa95;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
  }
  /* 
      Pushing the text up into the SVG. Without this the
      text would be below the div's.
  */
  
  #text {
    margin-top: -35px;
    text-align: center;
  }
  
  #text a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
    font-family: open-sans;
  }
  /* 
      Changing the shape on hover. I change the color of the stroke,
  make it thinner, then set it to again wrap around the entire parent element.
  */
  
  .svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #f200c2;
  }